.order-type {
  margin-bottom: 1rem;
}
.order-type .btn {
	width: 50%;
}
.cart-items {
	padding: 15px 1.25rem;
	max-height: 40vh;
	overflow-x: auto;
	margin: 0 -1.25rem;
}
.cart-items > ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
.cart-items > ul > li:after,
.cart-items > ul > li:before {
	content: " ";
	display: table;
}
.cart-items > ul > li {
	border-bottom: 1px dashed #EEE;
	overflow: hidden;
	padding: 5px 0;
}
.cart-items > ul > li:last-child {
	border-bottom: 0 none;
}
.cart-items > ul > li .name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.cart-items > ul li .name-image:focus .name,
.cart-items > ul li .name-image:hover .name {
}
.cart-items > ul li .name-image {
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding-left: 38px;
}
.cart-items > ul li .name-image img {
	border-radius: 0;
	float: left;
	height: auto;
	margin-right: 10px;
	max-width: 70px;
	width: 100%;
}
.cart-items > ul li .cart-btn {
	float: left;
	cursor: pointer;
}
.cart-items > ul li .options {
	display: block;
}
.option-amount {
	padding-right: 10px;
}
.cart-items > ul li .quantity {
	border-radius: 10px;
	position: relative;
	font-weight: normal;
}
.cart-coupon {
	border-color: var(--light);
	border-style: solid;
	border-width: 2px 0;
	margin: 0 -20px 10px;
	padding: 15px 20px;
}
.cart-total .table {
	margin-bottom: 0;
}
.cart-total .table td {
	padding: 3px;
	border-width: 0;
}


/*** Cart Options ***/
#cart-options-alert .alert {
	padding: 0;
}
#cart-options-alert .alert p {
	padding: 15px;
}
/*** End Cart Options ***/


.location-control {
	margin: 0 -15px;
	padding: 0 15px 10px;
	border-bottom: 1px solid #f5f5f5;
}
